<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiters</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Graduate&family=Righteous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container h-screen bg-white flex flex-col items-center">
      <div class="h-16 w-5/12">
        <h1 class="text-6xl text-gray-400 text-center my-3 font-graduate pt-36 tracking-wider">WAITERS AVAILABILITY</h1>
      </div>
        <form class="bg-white mt-60" action="/waiters" method="post">
            <div class="flex items-center border-b border-red-800 py-2 gap-x-1">
              <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Enter Your Name" aria-label="Full name" name="name">
              <button class="flex-shrink-0 bg-red-700 hover:bg-gray-500 border-red-700 hover:border-gray-500 text-sm border-4 text-white py-1 px-2 rounded" type="button">
                Sign Up
              </button>
              <button class="flex-shrink-0 border-transparent border-4 text-gray-600 hover:bg-gray-300 text-sm py-1 px-2 rounded" type="submit">
                Login
              </button>
            </div>
          </form> 
      </div>
  </body>
</html>